/*
====================
Start MyFrameWork
====================
*/
:root
{
    --white:#fff;
    --primaryColor:#f1f1f1;
    --default:#4a1667;
    --darkColor:#222;
    --black:#000;
}
*,
*::before,
*::after
{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html
{
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 62.5%;
}

body,
input
{
    position: relative;
    font-family: "Dosis", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
}
img
{
    max-width: 100%;
    max-height: 100%;
}
a
{
    text-decoration: none;
}
ul,
li
{
    list-style: none;
}
h2,
h3
{
    font-weight: 500;
}
.container
{
    width: 100%;
    max-width: 114rem;
    margin: 0 auto;
}
.flex__center
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section
{
    padding: 5rem 0;
}
/*
====================
End MyFrameWork
====================
*/

/*
======================
     Start Header
======================
*/
.header
{
    position: relative;
    height: 100vh;
    background-color: var(--primaryColor);
}
.nav
{
    padding: 1.6rem 0;
}
.logo h1
{
    font-size: 4rem;
}
.nav__center,
.nav__menu
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__menu
{
    width: 50%;
}
.nav__list
{
    display: flex;
    width: 70%;
}
.nav__link
{
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 2px;
    font-weight: bold;
    color: var(--default) !important;
}
.nav__item:last-child
{
    margin-right: 0.5rem;
}
.nav__link:link,
.nav__link:visited
{
    color: var(--darkColor);
    padding: 1rem;
}
.nav__close
{
    display: none;
}
.cart
{
    cursor: pointer;
}
.cart svg
{
    height: 3rem;
    width: 3rem;
    fill: var(--default);
}
.hamburger
{
    display: none;
}
.button
{
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 500;
}
/*Start Hero*/
.hero
{
    position: relative;
    height: 100%;
}
.hero__center
{
    display: flex;
    height: 100%;
}
.hero__left
{
    flex: 1 1 40%;
    align-self: center;
}
.hero__left h1
{
    color: var(--default);
    font-size: 7rem;
    margin-bottom: 1.6rem;
}
.hero__left p
{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 1px;
    margin-bottom: 2.5rem;

}
.hero__right
{
    flex: 1 1 60%;
    background-image: url("./images/banner.png");
    background-position: 90% 40%;
    background-size: 70%;
    background-repeat: no-repeat;
}
.hero__btn
{
    color: var(--white);
    background-color: var(--default);
    padding: 1.2rem 4rem;
}
.go-down
{
    padding: 0.5rem;
    position: absolute;
    left: 50%;
    bottom: 2%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: var(--default);
    border-radius: 50%;
    -webkit-animation: bounce 2s linear infinite;
    -moz-animation: bounce 2s linear infinite;
    -o-animation: bounce 2s linear infinite;
    animation: bounce 2s linear infinite;
}
.go-down svg
{
    width: 3rem;
    height: 3rem;
    fill: var(--white);
}
@keyframes bounce
{
    0%
    {
        bottom: 0%;
    }
    50%
    {
        bottom: 3%;
    }
    100%
    {
        bottom: 0%;
    }
}
/*End Hero*/
/*
======================
      End Header
======================
*/

/*
======================
      Start New
======================
*/
.new,
.all__products
{
    margin-top: 10rem;
}
.title
{
    text-align: center;
    margin-bottom: 7rem;
}
.title h1
{
    position: relative;
    display: inline-block;
    font-size: 3.5rem;
}
.title h1::after
{
    content: "";
    position: absolute;
    display: inline-block;
    bottom: -60%;
    left: 50%;
    height: 0.5rem;
    width: 40%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: var(--default);
}
.product__center
{
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 1fr));
    gap: 2rem 3rem;
    justify-content: center;
}
.product
{
    text-align: center;
    background-color: var(--primaryColor);
}
.product:hover .product__header::after,
.product:hover .product__header span
{
    visibility: visible;
    opacity: 1;
}
.product__header
{
    height: 20rem;
    position: relative;
}
.product__header::after
{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(74, 22, 103,0.9);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.product__header img
{
    object-fit: contain;
}
.product__header span
{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 1rem;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: var(--primaryColor);
    border-radius: 50%;
    z-index: 6;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.product__header svg
{
    height: 3rem;
    width: 3rem;
    fill: var(--default)
}
.product__footer
{
    padding: 0.5rem 0;
}
.product__footer h2
{
    margin-bottom: 1rem;
}
.product__footer svg
{
    width: 1.6rem;
    height: 1.6rem;
    fill: #ffd700;
}
.product__footer h4
{
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: 700;
}
/*
======================
      End New
======================
*/

/*
======================
    Start Category
======================
*/
.category__center
{
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 50rem));
    column-gap: 4rem;
    justify-content: space-evenly;
}
.category__left,
.category__right
{
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px rgba(74, 22, 103,0.9);
    border-radius: 1rem;
    justify-content: space-evenly;
    padding: 1.6rem;
}

.category .content h2{
    font-size: 3rem;
}
.category .content h1{
    font-size: 3rem;
    line-height: 1;
    margin: 1rem 0 1.6rem 0;
}
.category .category__btn
{
    background-color: var(--default);
    padding: 1rem 3rem;
    color: var(--white);
    border-radius: 5rem;
    border: 1px solid #4a1667;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.category .category__btn:hover
{
    background-color: transparent;
    color: var(--default);
    font-size: 2rem;
    font-weight: bold;
}
.category__left img,
.category__right img
{
    width: 20rem;
}
/*
======================
    End Category
======================
*/

/*
======================
    Start Contact
======================
*/
.contact
{
    display: flex;
    align-items: center;
    background-color: var(--black);
    padding: 6rem;
    margin: 5rem auto;
}
.contact__left,
.contact__right
{
    flex: 1 1 50%;
}
.contact__left
{
    color: var(--white);
}
.contact__left h1
{
    font-size: 4rem;
    margin-bottom: 1.6rem;
}
.contact__right 
{
    text-align: right;
}
.contact__right form
{
    position: relative;
}
.contact__right input
{
    width: 80%;
    margin: 0 auto;
    padding: 1.8rem 0;
    text-indent: 1rem;
    border: none;
    border-radius: 1rem;
}
.contact__right input:focus
{
    outline: none;
}
.contact__right a
{
    position: absolute;
    top: 50%;
    right: 0.5rem;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    background-color: var(--default);
    padding: 1rem 3rem;
    border-radius: 1rem;
    color: var(--white);
    border: 1px solid var(--default);
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.contact__right a:hover
{
    background-color: transparent;
    color: var(--default);
    font-size: 2rem;
    font-weight: bold;
}
/*
======================
    End Contact
======================
*/

/*
======================
    Start Footer
======================
*/
.footer
{
    padding: 6rem 1rem;
    line-height: 3rem;
    border-top: 1px solid var(--primaryColor);
    background-color: var(--primaryColor);
}
.footer-top__box span
{
    margin-right: 1rem;
}
.footer-top__box span svg
{
    width: 1.6rem;
    height: 1.6rem;
    fill: var(--default);
}
.footer__top
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: var(--darkColor);
}
.footer-top__box a:link,
.footer-top__box a:visited
{
    display: block;
    color: var(--darkColor);
    font-size: 1.4rem;
}
.footer-top__box div
{
    color: var(--darkColor);
    font-size: 1.4rem;
}
.footer-top__box h3
{
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 1rem;
    letter-spacing: 2px;
    color: ;
    font-weight: bold;
}
/*
======================
    End Footer
======================
*/

/*
==========================
 Start Small Screen Nedia
==========================
*/
@media only screen and (max-width:568px)
{
    .hero__left
    {
        margin-top: 30%;
    }
    .hero__left h1
    {
        font-size: 4rem;
    }
    .hero__left p
    {
        font-size: 1.5rem;
    }
    .hero__btn
    {
        font-size: 1.5rem;
        padding: 0.7rem 2rem;
    }
    .hero__right
    {
        background-size: 80%;
    }
    .go-down
    {
        display: none;
    }
    .product__center
    {
        grid-template-columns: repeat(2, minmax(auto, 1fr));
    }
    .product__header
    {
        height: 10rem;
    }
    .category .content h2{
        font-size: 2rem;
    }
    .category .content h1{
        font-size: 2rem;
    }
    .category__left img,
    .category__right img
    {
        width: 15rem;
    }
    .category .category__btn
    {
        font-size: 1.4rem;
        padding: 1rem 2rem;
    }

    .contact
    {
        flex-direction: column;
    }
    .contact__left
    {
        width: 100%;
        margin-top: 4rem;
    }
    .contact__right
    {
        width: 100%;
    }
    .contact__right a
    {
        padding: 0.6rem 1.8rem;
        font-size: 1.5rem;
    }
}

@media only screen and (max-width:768px)
{
    .header
    {
        height: 90vh;
    }
    .nav__menu
    {
        padding: 0 2rem;
    }
    .nav__list
    {
        background-color: var(--white);
        flex-direction: column;
        top: 0;
        left: -40rem;
        position: fixed;
        padding: 3rem 0;
        height: 100%;
        width: 30rem;
        z-index: 50;
        -webkit-transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
    }
    .nav__item
    {
        width: 100%;
        margin: 1rem 0;
    }
    .nav__item:last-child
    {
        margin-right: 0;
    }
    .nav__link:link,
    .nav__link:visited
    {
        display: block;
        font-size: 2rem;
    }
    .hamburger
    {
        display: flex;
        cursor: pointer;
    }
    .hamburger svg
    {
        width: 3.5rem;
        height: 3.5rem;
    }
    .nav__close
    {
        display: flex;
        cursor: pointer;
        position: absolute;
        top: 5%;
        right: 2rem;
    }
    .nav__close svg
    {
        width: 2rem;
        height: 2rem;
    }
    .cart
    {
        justify-content: flex-end;
    }
    body.active::before
    {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 3;
    }
    .hero__center
    {
        flex-direction: column;
        justify-content: start;
    }
    .hero__left
    {
        margin-top: 10%;
        width: 80%;
    }
    .hero__right
    {
        background-position: 50% center;
    }
    .category__center
    {
        grid-template-columns: repeat(1, minmax(auto, 50rem));
        gap: 3rem 0;
    }
    .contact
    {
        padding: 6rem 3rem;
    }
    .contact__right input
    {
        width: 100%;
    }
    .contact__right a
    {
        padding: 0.6rem 1.8rem;
        font-size: 1.5rem;
    }
    .footer__top
    {
        grid-template-columns: 1fr;
    }

}
@media only screen and (max-width:996px)
{
    .header
    {
        height: 40vh;
    }
    .product__center
    {
        grid-template-columns: repeat(3, minmax(auto, 1fr));
        gap: 2rem 2rem;
    }
    .product__header
    {
        height: 13rem;
    }
    .product__footer h2
    {
        font-size: 1.8rem;
    }
    .product__footer h4
    {
        font-size: 1.6rem;
    }
    .contact__left h1
    {
        font-size: 3rem;
    }
    .contact__right input
    {
        padding: 1.2rem 0;
        width: 90%;
    }
    .contact__right a
    {
        padding: 0.8rem 2rem;
    }
    .footer__top
    {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2rem;
    }


}

@media only screen and (max-width:1200px)
{
    .container
    {
        padding: 0 3rem;
    }
}
/*
========================
 End Small Screen Nedia
========================
*/









/*Draft*/