<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Title Icon-->
    <link rel="shortcut icon" href="../../public/assets/images/favicon.ico" type="image/x-icon"/>
    <!--Title-->
    <title>phone shop</title>
    <!--Bootstrap Style Sheet-->
    <link rel="stylesheet" href="../../public/assets/css/bootstrap.min.css"/>
    <!--Font Awosome Style Sheet-->
    <link rel="stylesheet" href="../../public/assets/css/all.min.css"/>
    <!-- Glide Core Style Sheet -->
    <link rel="stylesheet" href="../../public/assets/css/glide.core.min.css"/>
    <!-- Glide Theme Style Sheet -->
    <link rel="stylesheet" href="../../public/assets/css/glide.theme.min.css"/>
    <!-- AOS Style Sheet -->
    <link rel="stylesheet" href="../../public/assets/css/aos.css"/>
    <!--Main Style Sheet-->
    <link rel="styleSheet" href="../../public/assets/css/style.css"/>
</head>
<body>
  <!-- start header -->
  <header class="position-relative header">

    <!-- start Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container">
        <a class="nav-link fa fa-bars" id="sidebarCollapse" href="#"></a>
        <a class="navbar-brand" href="#">Phone</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-navbar">

          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#category">Category</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#news">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
          </ul>

          <ul class="navbar-nav navbar-left ml-auto">
            
            <li class="mr-3 nav-item">
              <a href="#" class="icon-item nav-link d-flex justify-content-center align-items-center rounded-circle">
                <svg class="icon__user">
                  <use xlink:href="public/assets/images/sprite.svg#icon-user"></use>
                </svg>
              </a>
            </li>

            <li class="mr-3 nav-item">
              <a href="#" class="icon-item nav-link d-flex justify-content-center align-items-center rounded-circle">
                <svg class="icon__cart">
                  <use xlink:href="public/assets/images/sprite.svg#icon-shopping-basket"></use>
                </svg>
                <span id="cart__total" class="position-absolute">0</span>
              </a>
            </li>

          </ul>

        </div>
      </div>
    </nav>
    <!-- end Navbar -->

    <!-- start sidebar -->
    <div class="wraper d-flex">
      <nav id="sidebar-menu" class="fifth-bg d-flex justify-content-center position-fixed">
        <ul class="sidebar-menu-items list-unstyled w-100">
          <div class="fifth-bg w-100 d-flex justify-content-center align-items-center sidebar-header">
              <a href="#" id="close-sidebar">
                  <i class="fas fa-times pl-3"></i>
              </a>
          </div>
          <hr class="second-bg m-3"/>
          <div class="sidebar-section d-flex flex-column justify-content-center">
              <li class="sidebar-link d-flex justify-content-start p-3"><a href="" class="mr-3 white-color"><i class="fas fa-calculator pl-3 second-color"></i> </a></li>
              <li class="sidebar-link d-flex justify-content-start p-3"><a href="" class="mr-3 white-color"><i class="fas fa-calculator pl-3 second-color"></i> </a></li>
              <li class="sidebar-link d-flex justify-content-start p-3"><a href="" class="mr-3 white-color"><i class="fas fa-fire pl-3 second-color"></i></a></li>
              <li class="sidebar-link d-flex justify-content-start p-3"><a href="" class="mr-3 white-color"><i class="fas fa-fire pl-3 second-color"></i></a></li>
              <li class="sidebar-link d-flex justify-content-start p-3"><a href="" class="mr-3 white-color"><i class="fas fa-fire pl-3 second-color"></i></a></li>
          </div>
          <hr class="second-bg"/>
          <div class="sidebar-section d-flex flex-column justify-content-center">
              <li class="sidebar-link d-flex justify-content-start p-3"><a href="" class="mr-3 white-color"><i class="fas fa-fire pl-3 second-color"></i></a></li>
              <li class="sidebar-link d-flex justify-content-start p-3"><a href="" class="mr-3 white-color"><i class="fas fa-fire pl-3 second-color"></i></a></li>
              <li class="sidebar-link d-flex justify-content-start p-3"><a href="" class="mr-3 white-color"><i class="fas fa-fire pl-3 second-color"></i></a></li>
          </div>
        </ul>                
      </nav>
    </div>
    <!-- end sidebar -->
  
  </header>
  <!-- end header -->


  <!-- start main content -->
  <main id="main">
  </main>
  <!-- end main content -->
  
  <!-- start footer -->
  <footer class="footer black1-bg" id="footer">
    <div class="follow-us second-bg">
        <div class="container">
            <div class="row py-4 d-flex align-items-center">
                <div class="col-lg-12 text-center">
                    <a href=""><i class="fab fa-facebook-f ml-4 black1-color"></i></a>
                    <a href=""><i class="fab fa-twitter ml-4 black1-color"></i></a>
                    <a href=""><i class="fab fa-google-plus-g ml-4 black1-color"></i></a>
                    <a href=""><i class="fab fa-linkedin-in ml-4 black1-color"></i></a>
                    <a href=""><i class="fab fa-instagram ml-4 black1-color"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center text-md-left mt-5">
        <div class="row">
            <div class="col-lg-3 mx-auto mb-4">
              <h3 class="mb-5 first-color">EXTRAS</h3>
              <ul class="list-unstyled">
                <li><a href="#" class="gray-color">Brands</a></li>
                <li><a href="#" class="gray-color">Gift Certificates</a></li>
                <li><a href="#" class="gray-color">Affiliate</a></li>
                <li><a href="#" class="gray-color">Specials</a></li>
                <li><a href="#" class="gray-color">Site Map</a></li>
              </ul>
            </div>
            <div class="col-lg-3 mx-auto mb-4 black-color">
              <h3 class="mb-5 first-color">INFORMATION</h3>
              <ul class="list-unstyled">
                <li><a href="#" class="gray-color">About Us</a></li>
                <li><a href="#" class="gray-color">Privacy Policy</a></li>
                <li><a href="#" class="gray-color">Terms & Conditions</a></li>
                <li><a href="#" class="gray-color">Contact Us</a></li>
                <li><a href="#" class="gray-color">Site Map</a></li>
              </ul>
            </div>
            <div class="col-lg-3 mx-auto mb-4 black-color">
              <h3 class="mb-5 first-color">MY ACCOUNT</h3>
              <ul class="list-unstyled">
                <li><a href="#" class="gray-color">My Account</a></li>
                <li><a href="#" class="gray-color">Order History</a></li>
                <li><a href="#" class="gray-color">Wish List</a></li>
                <li><a href="#" class="gray-color">Newsletter</a></li>
                <li><a href="#" class="gray-color">Returns</a></li>
              </ul>
            </div>
            <div class="col-lg-3 mx-auto mb-4 black-color">
              <h3 class="mb-5 first-color">CONTACT US</h3>
              <div class="gray-color">
                <span>
                  <svg>
                    <use xlink:href="../../public/assets/images/sprite.svg#icon-location"></use>
                  </svg>
                </span>
                17 al saalam st shoubra El kheima, Cairo, Egypt.
              </div>
              <div class="gray-color">
                <span>
                  <svg>
                    <use xlink:href="../../public/assets/images/sprite.svg#icon-envelop"></use>
                  </svg>
                </span>
                company@gmail.com
              </div>
              <div class="gray-color">
                <span>
                  <svg>
                    <use xlink:href="../../public/assets/images/sprite.svg#icon-phone"></use>
                  </svg>
                </span>
                456-456-4512
              </div>
              <div class="gray-color">
                <span>
                  <svg>
                    <use xlink:href="../../public/assets/images/sprite.svg#icon-paperplane"></use>
                  </svg>
                </span>
                Cairo, Egypt.
              </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright black1-color second-bg text-center py-3">
        <p>All Rights Reserved &copy;
          <a href="#" class="black1-color"> Phone Shop 2021 </a>
        </p>
    </div>

  </footer>
  <!-- end footer -->
  
  <!-- start goto top -->
  <a href="#header" class="goto-top scroll-link">
    <svg>
      <use xlink:href="../../public/assets/images/sprite.svg#icon-arrow-up"></use>
    </svg>
  </a>
  <!-- end goto top -->


  <!-- JQuery Library Script-->
  <script src="../../public/assets/js/jQuery 3.5.1.min.js"></script>
  <!-- Popper Library Script-->
  <script src="../../public/assets/js/popper.min.js"></script>
  <!-- Bootstrap Library Script-->
  <script src="../../public/assets/js/bootstrap.min.js"></script>
  <!-- Font Awosome -->
  <script src="https://kit.fontawesome.com/cd0c469065.js" crossorigin="anonymous"></script>
  <!-- Glide Library Script -->
  <script src="../../public/assets/js/glide.min.js"></script>
  <!-- AOS Library Script -->
  <script src="../../public/assets/js/aos.js"></script>
  <!-- products JavaScript -->
  <script src="../../public/assets/js/products.js"></script>
  <!-- Slider JavaScript -->
  <script src="../../public/assets/js/slider.js"></script>
  <!-- Main JavaScript -->
  <script src="../../public/assets/js/app.js"></script>
</body>
</html>