<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Title Icon-->
    <link rel="shortcut icon" href="../public/assets/images/logo.svg" type="image/x-icon"/>
    <!--Title-->
    <title>باب رزق</title>
    <!-- Glide Core Style Sheet -->
    <link rel="stylesheet" href="../public/assets/css/glide.core.min.css"/>
    <!-- Glide Theme Style Sheet -->
    <link rel="stylesheet" href="../public/assets/css/glide.theme.min.css"/>
    <!-- AOS Style Sheet -->
    <link rel="stylesheet" href="../public/assets/css/aos.css"/>
    <!--Bootstrap Style Sheet-->
    <link rel="stylesheet" href="../public/assets/css/bootstrap-rtl.min.css"/>
    <!--Font Awosome Style Sheet-->
    <link rel="stylesheet" href="../public/assets/css/all.min.css"/>
    <!--Main Style Sheet-->
    <link rel="styleSheet" href="../public/assets/css/style.css"/>
</head>
<body class="black-bg">
<!-- start header -->
    <header id="admin-header">
    <!-- start navbar -->
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">  
                <a class="nav-link fa fa-bars first-color first-hover-second" id="sidebarCollapse" href="#"></a>
                <a class="navbar-brand" href="#">
                    <div class="logo">
                        <img src="../public/assets/images/logo.svg" class="logo-brand" alt="logo">
                        <div class="logo-name">
                            <h2>باب</h2>
                            <h2>رزق</h2>
                        </div>
                    </div>
                </a>
                <button class="navbar-toggler fa fa-bars first-color first-hover-second" type="button" data-toggle="collapse" data-target="#main-nav">
                </button>
                <div class="collapse navbar-collapse" id="main-nav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fas fa-plus second-color"></i>
                                اضافة مشروع
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fas fa-briefcase second-color"></i>
                                المشاريع الحديثة
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fas fa-clipboard-list second-color"></i>
                                عروضى
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav mr-auto navbar-left align-items-center">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                محمد جمال
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle d-inline-flex justify-content-center align-items-center avatar" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                                <img src="../public/assets/images/user_images/card05.jpg" class="rounded-circle w-100" alt="صورة المستخدم"/>
                            </a>
                            <div class="dropdown-menu">
                                <div class="dropdown-header">
                                    <h6 class="text-overflow m-0">مرحبا بك!</h6>
                                </div>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user second-color ml-3"></i>
                                    حسابى
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-hand-holding-usd second-color ml-3"></i>
                                    عروضى
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cog second-color ml-3"></i>
                                    الاعدادت
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-life-ring second-color ml-3"></i>
                                    المساعدة
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-sign-out-alt second-color ml-3"></i>
                                    خروج
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    <!-- end navbar -->
    </header>
<!-- end header -->

<!-- start main content -->
    <main id="create_project" class="white-color" role="main">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-8">
                    <div class="heading text-center mt-4">
                        <h2>اضافة مشروع جديد</h2>
                        <hr class="hr-bar second-bg first-bar"/>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="form-wrapper p-4 m-4">
                    <form action="#" method="post">
                        <div class="form-row">
                            <div class="form-group position-relative col-sm">
                                <label for="project-name" class="d-block">
                                    <i class="fas fa-question-circle" data-toggle="tooltip" data-placement="right" title="Tooltip on right">    
                                    </i>
                                    اسم المشروع
                                </label>
                                <input 
                                    type="text"
                                    id="project-name"
                                    class="form-control"
                                    name="name"
                                    placeholder="ادخل اسم مناسب للمشروعك يجذب العمال لتقديم العروض ..."
                                    required
                                />
                                <span class="position-absolute rounded-circle indicator"></span>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group position-relative col-sm">
                                <label for="project-description" class="d-block">
                                    <i class="fas fa-question-circle" data-toggle="tooltip" data-placement="right" title="Tooltip on right">    
                                    </i>
                                    وصف المشروع
                                </label>
                                <textarea 
                                    id="project-description" 
                                    class="form-control"
                                    name="description" 
                                    rows="2" 
                                    placeholder="اكتب بالتفصيل وصف المشروع الذى ترغب فى انجازه لمساعدة العمال فى فهم ماترغب فيه وبالتالى الحصول على افضل خدمة..."
                                    required
                                >
                                </textarea>
                                <span class="position-absolute rounded-circle indicator"></span>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group position-relative col-sm-12">
                                <label for="addr" class="d-block">
                                    <i class="fas fa-question-circle" data-toggle="tooltip" data-placement="right" title="Tooltip on right">    
                                    </i>
                                    العنوان
                                </label>
                                <input 
                                    type="text" 
                                    id="addr" 
                                    class="form-control" 
                                    name="address"
                                    placeholder="ادخل عنوان المشروع بالتفاصيل"
                                    required
                                >
                                <span class="position-absolute rounded-circle indicator fifth-bg"></span>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group dropdown position-relative col-sm">
                                <label for="government-select" class="d-block"><i class="fas fa-question-circle"></i> المحافظة </label>
                                <select name="government_id" id="government-select" class="form-control" required>
                                    <option value="1">القاهرة</option>
                                    <option value="2">الجيزة</option>
                                    <option value="3">القليوبية</option>
                                    <option value="4">الاسكندرية</option>
                                    <option value="5">القاهرة</option>
                                </select>
                            </div>
                            <div class="form-group dropdown position-relative col-sm">
                                <label for="city-select" class="d-block"><i class="fas fa-question-circle"></i> المدينة </label>
                                <select name="city_id" id="city-select" class="form-control" required>
                                    <option value="1">القاهرة</option>
                                    <option value="2">الجيزة</option>
                                    <option value="3">القليوبية</option>
                                    <option value="4">الاسكندرية</option>
                                    <option value="5">القاهرة</option>
                                </select>
                            </div>
                            <div class="form-group dropdown position-relative col-sm">
                                <label for="district-select" class="d-block"><i class="fas fa-question-circle"></i> الحى </label>
                                <select name="district_id" id="district-select" class="form-control" required>
                                    <option value="1">القاهرة</option>
                                    <option value="2">الجيزة</option>
                                    <option value="3">القليوبية</option>
                                    <option value="4">الاسكندرية</option>
                                    <option value="5">القاهرة</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group dropdown position-relative col-sm">
                                <label for="jop-select" class="d-block"><i class="fas fa-question-circle"></i> الوظيفة المطلوبة</label>
                                <select name="jop_id" id="jop-select" class="form-control" required>
                                    <option value="1">نجار</option>
                                    <option value="1">حداد</option>
                                    <option value="1">كهربائى</option>
                                    <option value="1">ميكانيكى</option>
                                    <option value="1">نقاش</option>
                                </select>
                            </div>
                            <div class="form-group position-relative col-sm">
                                <label class="d-block" for="dur-in-days"><i class="fas fa-question-circle"></i> الفترة اللازمة </label>
                                <input
                                    type="number" 
                                    id="dur-in-days" 
                                    class="form-control"
                                    name="duration_in_days"
                                    pattern="/^[0-9]*$/"
                                    placeholder="...ادخل الفترة بالايام التى تريد انجاز المشروع بها"
                                    required
                                >
                                </input>
                                <span class="position-absolute rounded-circle indicator"></span>
                            </div>
                            <div class="form-group position-relative col-sm">
                                <label class="d-block" for="project-price"><i class="fas fa-question-circle"></i> السعر </label>
                                <input
                                    type="number"
                                    id="project-price"
                                    class="form-control"
                                    name="price"
                                    placeholder="...ادخل السعر الذى تراه مناسبا بالجنية المصرى"
                                    required
                                >
                                </input>
                                <span class="position-absolute rounded-circle indicator"></span>
                            </div>
                        </div>

                        <div class="form-row justify-content-center">
                            <button type="submit" class="mybtn">اضافة المشروع</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
<!-- end main content -->

<!-- start footer section -->
    <footer class="gray-bg">
        <div class="follow-us second-bg">
            <div class="container">
                <div class="row py-4 d-flex align-items-center">
                    <div class="col-lg-12 text-center">
                        <a href=""><i class="fab fa-facebook-f ml-4 first-color"></i></a>
                        <a href=""><i class="fab fa-twitter ml-4 first-color"></i></a>
                        <a href=""><i class="fab fa-google-plus-g ml-4 first-color"></i></a>
                        <a href=""><i class="fab fa-linkedin-in ml-4 first-color"></i></a>
                        <a href=""><i class="fab fa-instagram first-color"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container text-center text-md-right mt-5">
            <div class="row">
                <div class="col-lg-2 mx-auto mb-4">
                    <a href="#" class="h1">
                        <div class="logo">
                            <img src="../public/assets/images/logo.svg" class="logo-brand" alt="logo">
                            <div class="logo-name">
                                <h5 class="mr-0">باب</h5>
                                <h5 class="mr-0">رزق</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 mx-auto mb-4">
                    <h6 class="font-weight-bold h3">تواصل معنا</h6>
                    <hr class="hr-bar second-bg first-bar"/>
                    <p class="lead mt-2 black-color">
                        المنتصرة حدة عل, التي فهرست واشتدّت أن أسر. كانت المتاخمة التغييرات أم وفي. ان وانتهاءً باستحداث قهر. ان ضمنها للأراضي الأوروبية ذات.
                        ابح كل جوي. أسر كارثة المشتّتون بل, وبعض وبداية الصفحة غزو قد, أي بحث تعداد الجنوب.
                    </p>
                </div>
                <div class="col-lg-2 mx-auto mb-4 black-color">
                    <h6 class="font-weight-bold h3">خدماتنا</h6>
                    <hr class="hr-bar second-bg second-bar"/>
                    <ul class="list-unstyled">
                        <li class="my-2"><a href="" class="black-color transition-bg">النجارة</a></li>
                        <li class="my-2"><a href="" class="black-color transition-bg"> السباكة</a></li>
                        <li class="my-2"><a href="" class="black-color transition-bg"> النقاشة</a></li>
                        <li class="my-2"><a href="" class="black-color transition-bg"> الحدادة</a></li>
                        <li class="my-2"><a href="" class="black-color transition-bg"> الكهرباء</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 mx-auto mb-4 black-color">
                    <h6 class="font-weight-bold h3">صفحات الموقع</h6>
                    <hr class="hr-bar second-bg third-bar"/>
                    <ul class="list-unstyled">
                        <li class="my-2"><a href="" class="black-color transition-bg">الرئيسية</a></li>
                        <li class="my-2"><a href="" class="black-color transition-bg"> من نحن</a></li>
                        <li class="my-2"><a href="" class="black-color transition-bg"> للتواصل معنا</a></li>
                        <li class="my-2"><a href="" class="black-color transition-bg"> ليه تتعامل معنا</a></li>
                        <li class="my-2"><a href="" class="black-color transition-bg"> افضل الحرفين</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 mx-auto mb-4 black-color">
                    <h6 class="font-weight-bold h3">صفحات الموقع</h6>
                    <hr class="hr-bar second-bg"/>
                    <ul class="list-unstyled black-color">
                        <li class="my-2"><i class="fas fa-map-marker-alt ml-3 second-color"></i>شبرا الخيمة اول ,القليوبية</li>
                        <li class="my-2"><i class="far fa-envelope ml-3 second-color"></i>muhammadjamal@gmail.com</li>
                        <li class="my-2"><i class="fas fa-phone ml-3 second-color"></i>+205467526876</li>
                        <li class="my-2"><i class="fas fa-briefcase ml-3 second-color"></i>+2546768546587</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright first-bg black-color text-center py-3">
            <p>&copy; جميع الحقوق محفوظة <a href="#" class="white-color transition-bg">باب رزق 2020</a></p>
        </div>
    </footer>
<!-- end footer section -->

  <!-- JQuery Library Script-->
  <script src="../public/assets/js/jQuery 3.5.1.min.js"></script>
  <!-- Glide Library Script -->
  <script src="../public/assets/js/glide.min.js"></script>
  <!-- AOS Library Script -->
  <script src="../public/assets/js/aos.js"></script>
  <!-- Popper Library Script-->
  <script src="../public/assets/js/popper.min.js"></script>
  <!-- Bootstrap Library Script-->
  <script src="../public/assets/js/bootstraprtl.min.js"></script>
  <!-- Font Awosome -->
  <script src="https://kit.fontawesome.com/cd0c469065.js" crossorigin="anonymous"></script>
  <!-- Main JavaScript -->
  <script src="../public/assets/js/app.js"></script>
</body>
</html>