/*
====================
Start MyFrameWork
====================
*/
:root
{
    --white:#fff;
    --primaryColor:#f1f1f1;
    --default:#4a1667;
    --darkColor:#222;
    --black:#000;
}

/*
====================
End MyFrameWork
====================
*/

/*
==========================
 Start Small Screen Nedia
==========================
*/
@media only screen and (max-width:768px)
{
    .nav__menu
    {
        padding: 0 2rem;
    }
    .nav__list
    {
        background-color: var(--white);
        flex-direction: column;
        top: 0;
        left: 0;
        position: fixed;
        padding: 3rem 0;
        height: 100%;
        width: 30rem;
        z-index: 50;
        -webkit-transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
    }
    .nav__item
    {
        width: 100%;
        margin: 1rem 0;
    }
    .nav__item:last-child
    {
        margin-right: 0;
    }
    .nav__link:link,
    .nav__link:visited
    {
        display: block;
        font-size: 2rem;
    }
    .nav__colse
    {
        display: flex;
        cursor: pointer;
        position: absolute;
        top: 5%;
        right: 2rem;
    }
    .nav__colse svg
    {
        height: 2rem;
        width: 2rem;
    }
    .hamburger
    {
        display: flex;
        cursor: pointer;
    }
    .hamburger svg
    {
        display: flex;
        cursor: pointer;
        width: 3.5rem;
        height: 3.5rem;
    }
}
/*
========================
 End Small Screen Nedia
========================
*/

/*
====================
Start Mobile Nedia
====================
*/
@media only screen and (max-width:1200px)
{
    .container
    {
        padding: 0 3rem;
    }
}
/*
====================
End Mobile Nedia
====================
*/